.split-pane {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.split-pane-left,
.split-pane-right {
    overflow: hidden;
}

.split-pane-left{
    width: 50%;
}

.split-pane-right
{
    width: 50%;
    
}

.split-pane-separator {
    border: 1px solid black;
    cursor: col-resize;
}